menu {
    display: flex;
    list-style: none;
    justify-content: space-around;
    text-align: center;    
    margin: 0 auto;
}

menu li {
    cursor: pointer;
    text-decoration: none;
    color: #fffcff;
    display: inline-block;
}

menu li:hover {
    color: #5f5f5f;
}

@media all and (max-width:576px) {
    menu li {
        font-size: 0.7rem;
    }
}

@media all and (min-width:577px) {
    menu li {
        font-size: 0.9rem;
    }

    menu {
        width: 40vh;
    }
}